{% extends "base.html" %}

{% block title %}Example{% endblock %}

{% block content %}
    <div id="chat">

    </div>
        <input id="message"><input type="button" id="send" value="Send">
{% endblock %}

{% block extra_body %}
    <script>

    $(document).ready( function () {
            // Correctly decide between ws:// and wss://
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/chat/{{ object.id }}/";
            console.log("Connecting to " + ws_path);
            var socket = new ReconnectingWebSocket(ws_path);

            // Handle incoming messages
            socket.onmessage = function (message) {
                // Decode the JSON
                console.log("Got websocket message " + message.data);
                var data = JSON.parse(message.data);
                console.log(data);
                $('#chat').append($('<div>' + data + '</div>'));

            }

            // Helpful debugging
            socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
            $('#send').click(function() {
                socket.send(JSON.stringify({
                    "command": "send",
                    "chat": {{ object.id }},
                    "message": $('#message')[0].value
                }));
            });
        });
    </script>
{% endblock %}
